<!DOCTYPE html>
<html lang="en" ng-app="battle">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=`device-width`, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Site css -->
  <link rel="stylesheet" href="assets/css/main.css">
  <title>BattleUI</title>
</head>
<body>
  <div class="container" ng-controller="battleController">
    <div class="playing-field" ng-style="{'background-image': 'url({{background}})'}">
      <status-bar></status-bar>
      <div class="field-row">
        <div class="field-area">
          <mob-panel mob="mobs[0]"></mob-panel>
        </div>
        <div class="field-area">
          <mob-panel mob="mobs[1]"></mob-panel>
        </div>
        <div class="field-area">
          <mob-panel mob="mobs[2]"></mob-panel>
        </div>
      </div>
      <div class="field-row">
        <div class="field-area">
          <player-panel character="characters[0]"></player-panel>
        </div>
        <div class="field-area">
          <player-panel character="characters[1]"></player-panel>
        </div>
        <div class="field-area">
          <player-panel character="characters[2]"></player-panel>
        </div>
      </div>
    </div>


  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="app/app.js"></script>
</body>
</html>
