<div class="mob-container" ng-click="handler(mob.index)">
    <div class="splat" ng-show="damageTaken > 0">{{damageTaken}}</div>
    <img class="mob-img fadable" ng-src="{{mob.graphic}}" ng-class="[{'attack-stance':mob.hasTurn == true},{'fade-0':mob.ko == true}]"/>
    <div class="bar hp-bar shadow" ng-style="{width: mob.health / mob.maxHealth * 100 + '%'}"></div>
</div>
