<div class="input-box shadow" ng-show="character.hasTurn && !actionDone">
  <div ng-repeat="action in currentActions">
    <button ng-click="handle($index)" ng-disabled="character.mana < action.mp" ng-class="{'disabled':character.mana < action.mp}">{{action.name}}</button>
  </div>
  <button ng-click="back()" ng-show="subMenu == true">back</button>
</div>
