<div class="player-panel">
  <div class ='top-section'>
    <div class="portrait-container shadow">
      <div class="splat" ng-show="damageTaken > 0">{{damageTaken}}</div>
      <img ng-src="{{character.graphic}}" class="fadable" ng-class="{'fade-4':character.ko == true}"/>
    </div>
    <div class="input-container">
      <player-input-panel character="character"></player-input-panel>
    </div>
  </div>
  <div class="stat-section">
    <player-stat-panel character="character"></player-stat-panel>
  </div>
</div>
