<div class="player-stat-panel shadow">
  <div class="lefty">
    Name: <br/>
    Health: <br/>
    Mana: <br/>
  </div>
  <div class="righty">
    {{character.name}}
    <div class="bar hp-bar" ng-style="{width: character.health / character.maxHealth * 100 + '%'}"></div>
    <div class="bar mp-bar" ng-style="{width: character.mana / character.maxMana * 100 + '%'}"></div>
  </div>
</div>
