.shadow {
  box-shadow: 5px 5px 2px #000000;
}
.status-bar {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  height: 40px;
  background-color: blue;
  color: white;
  text-align: center;
  padding-top: 10px;
  border-radius: 15px;
}
.fadable {
  opacity: 1;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}
.fade-0 {
  opacity: 0;
}
.fade-4 {
  opacity: 0.4;
}

.splat {
  position: absolute;
  padding: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../img/splat.png');
  background-size: 100%;
  color: white;
  text-align: center;
  font-size: 20px;
  z-index: 9999;
}

/*
  PLAYING FIELD
*/
.playing-field {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 10px;
}
.playing-field .field-row {
  width: 800px;
  height: 300px;
  padding: 10px;
}
.field-area {
  float: left;
  height: 100%;
  width: 260px;
}

/*
  MOB PANEL
*/
.mob-container {
  position: relative;
  margin-top: 100px;
  margin-left: 85px;
  width: 100px;
  height: 140px;
}
.mob-container .bar {
  margin-top: 10px;
}
.mob-container img {
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
.mob-container .attack-stance {
  transform: scale(1.1);
}
.mob-container .splat {
  top: 60px;
}

/*
  PLAYER PANEL
*/
.player-panel {
  width: 260px;
  height: 280px;
}
.player-panel .top-section {
  height: 160px;
}
.player-panel .stat-section {
  height: 120px;
}
.player-panel .portrait-container {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 84px;
  border-radius: 15px;
  background-color: blue;
  padding: 10px;
  margin-left: 10px;
}
.player-panel .portrait {
  width: 64px;
  height: 64px;
}
.player-panel .splat {
  top: 20px;
}
.player-panel .input-container {
  display: inline-block;
  width: 140px;
  height: 120px;
  margin-left: 10px;
}
.player-panel .input-box {
  position: absolute;
  background-color: blue;
  padding: 10px;
  width: 140px;
  max-height: 148px;
  overflow-y: auto;
}
.player-panel .input-box button {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
  padding: 2px;
  background-color: blue;
  width: 100%;
}
.player-panel .input-box .disabled {
  color: red;
}

/*
  PLAYER STAT PANEL
*/
.player-stat-panel {
  display: inline-block;
  border-radius: 15px;
  background-color: blue;
  color: white;
  margin: 10px;
  width:240px;
  height: 80px;
  padding:10px;
}
.player-stat-panel .lefty {
  float: left;
  width: 20%;
  text-align: right;
}
.player-stat-panel .righty {
  float: right;
  width: 80%;
  padding-left: 5px;
}
.bar {
  height: 20px;
  width: 100%;
  transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
}
.hp-bar {
  background-color: red;
}
.mp-bar {
  background-color: purple;
}
